<div class="row">
  <div class="col-sm-9">
    <h1>
      <%= @restaurant.name %>
      <%= link_to "&#10000;".html_safe, edit_restaurant_path(@restaurant) %>
      <%= link_to "&#10006;".html_safe, restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
    </h1>
    <p class="lead">
      Description: <%= @restaurant.description ||= "No description provided." %>
      <br/>
      Category:
      <% if @restaurant.categories.first %>
        <%= @restaurant.categories.first.name %>
      <% else %>
        No category provided.
      <% end %>
    </p>
  </div>
</div>
<hr/>

<%= render "restaurants/reviews" %>

<%= render "reviews/form" %>
